---
---

@import "{{ site.theme }}";

.topnav {
  overflow: hidden;
   margin-left: auto;
   margin-right: auto;
   margin-top: 0;
}

.topnav {
    a {
      color: #f2f2f2;
      text-align: center;
      padding: 4px 4px;
      text-decoration: none;
      font-size: 17px;
      }
  }

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

