---
---

@import "{{ site.theme }}";

#header_wrap
{
  display : flex;
  flex-direction : column;
  align-items: center;
}
  

.topnav {
  overflow: hidden;
  margin: 5% 0px 0px 0px;
}

.topnav {
    a {
      color: #a8a8a8;
      text-align: center;
      padding: 12px 12px;
      text-decoration: none;
      font-size: 25px;
      }
  }

.topnav a:hover {
    color : #ffffff;
    background-color: #000000;

}

